.container {
            display: flex;
            align-items: center;
            gap: 30px;
            padding: 40px;
            max-width: 1200px;
            margin: 0 auto;
            font-family: Arial, sans-serif;
            margin-top: 100px;
            color: aliceblue;
            background-image: url("img zuhriddin.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            
        }

        .text-content {
            flex: 1;
            line-height: 1.6;
            font-size: 18px;
            
            margin-top: 100px;
            color: aliceblue;
        }

        .profile-pic {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            margin-top: 100px;
        }
        #kamron_kot{
         text-align: center;
         color: aliceblue;
        }
        .eee{
            text-align: center;
            color: aliceblue;
        }
        body{
            background-color: black;
        }
        ul{
          color: aliceblue;
        }
        h3{
            color: #f0f8ff;
            margin-left: 868px;
        }
        #qobiliyatlarim{
           text-align: center;
           padding: 200px;
           border: 2px solid aliceblue;
        }
        .contact{
            text-align: center;
            padding: 122px;
            border: 2px solid  aliceblue;
            color:aliceblue;
        }
        .contact:hover{
            background-color: rgb(116, 122, 126);
            transition: all 4s;
            color: black;
        }
        .divv{
            color: aliceblue;
        }
        #Mening{
            padding: 150px;
            border: 2px solid aliceblue;
        }
        #qobiliyatlarim:hover{
             background-color: rgb(116, 122, 126);
             transition: all 4s;
             color: black;
        }
        hr{
            border: 3px solid aliceblue;
        }