/*Core styles*/
body{
    font-family: sans-serif;
}
.contener{
    width: 1140px;
    margin: 0 auto;
}
/*Main header styles*/
.Main-header_brand{
    display: inline-block;
    vertical-align: middle;
   } 
    
    .Main-header_brand,img{
        width: 64px;
    }
    .Main-navigation{
        display: inline-block;
        vertical-align: middle;
    }
    .Main-navigation_item{
        display: inline-block;
        padding: 10px;
    }
    .Main-navigation_item a{
        color: #05364d;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
    }

    .Main-navigation_item a:hover{
        color: #efb6df;
    }
    .Main-navigation_item.active a{
        color:#efb6df ;
    }

    /*Main section styles*/
   