section{
    background-image: url("./bmw\ m5.jpg");
    background-repeat: no-repeat;
    background-size: 1380px 660px;
    border: 3px solid black;
    padding: 30px;
    margin-top: 200px;
    margin-left: 25px;
    margin-right: 25px;

}
h3{
    padding: 30px;
    border: 3px solid black;
    color:aqua;
}
p{
   display: inline-block;
   padding: 30px;
   border: 3px dotted blue;
   width: 150px;
   height: 200px;
   overflow: auto;
   margin-right: 15px;
   background-image: url('/bmw\ m5.jpg');
   background-repeat: no-repeat;
   background-size: 233px 280px;
}
h3:hover{
    background-color: blue;
    color: white;
    padding: 35px;
    border: 3px solid black;
}
p:hover{
    background-color: brown;
    color: aqua;
    padding: 35px;
    border: 5px dotted blue;
}