div{
    display: inline-block;
    padding: 50px;
    border: 2px solid black;
    height: 20px;
    width: 20px;
    margin: 30px;
    
}
div:hover{
    border-radius: 16px;
    display: inline-block;
}
p{
    font-size: 30px;
    
}
p:hover{
    font-size: 50px;
   

}