section{
    background-color: brown;
    color: aqua;
    padding:20px ;
    margin: 20px;
    border: 3px solid black;
    transform: rotate(45deg);
}
.div_1{
    border: 3px solid black;
    background-color: brown;
    color: aqua;
    padding: 20px;
    margin: 20px;
    transform: skew(20deg, 10deg);
}
.div_2{
    border: 3px solid black;
    background-color: brown;
    color: aqua;
    padding: 20px;
    margin: 20px;
    transform: translate(50px,100px);
}
.div_3{
    border: 3px solid black;
    background-color: brown;
    color: aqua;
    padding: 20px;
    margin: 20px;
    transform: scale(1.5);
}
.div_4{
    border: 3px solid black;
    background-color: brown;
    color: aqua;
    padding: 20px;
    margin: 20px;
}
.div_5{
    border: 3px solid black;
    background-color: brown;
    color: aqua;
    padding: 20px;
    margin: 20px;
}
.div_6{
    border: 3px solid black;
    background-color: brown;
    color: aqua;
    padding: 20px;
    margin: 20px;
}