section,img{
    transition: all 3s;
}
section:hover{
    background-color: rgb(192, 65, 65);
    border-radius: 15px;
}
img:hover{
width: 102%;
height: 205px;
box-shadow: 10px 10px 5px black;
}
#block_bir,#block_uch{
    width: 20%;
    display: inline-block;
}
#block_ikki{
    width: 53%;
    display: inline-block;
    margin-top: 0;
}
section{
    border: 2px solid black;
    padding: 30px;
    margin:80px ;
    height: auto;
}
h3{
    text-align: center;
    margin-top: 0;
}
img{
    width: 100%;
    height: 200px;
    margin-top: 25px;
}
div{
    margin: 10px;
}
#asosiy_img{
    height: 660px;
}
.AbC{
    font-size: 40px;
    text-align: center;
   
}
p{
    display: inline-block;
    margin: 10px;
    height: 10px;
    
}
p:hover{
    transition: all 1s;
    font-size: 50px;
    text-shadow: 2px 2px black;
    
}