@keyframes box-mover{
    0%{
        background-color: red;
        width: 100px;
        height: 100px;
        border-radius: 100%;

    }
    25%{
        background-color: green;
        width: 150px;
        height: 150px;
        border-radius: 100%;

    }
    50%{
        background-color: rgb(25, 17, 112);
        width: 180px;
        height: 180px;
        border-radius: 100%;

    }
    75%{
        background-color: rgb(143, 182, 26);
        width: 200px;
        height: 200px;
        border-radius: 100%;

    }

}
@keyframes text{
 0%{ color: rgb(123, 29, 155); font-size: 15px;}
 23%{ color: rgba(52, 85, 146, 0.971); font-size: 20px;}
 48%{ color: rgb(12, 48, 72); font-size: 30px;}
 69%{ color: rgb(250, 250, 250); font-size: 40px;}
 88%{ color: rgb(108, 250, 0); font-size: 50px;}

}
.box1{
    width: 200px;
    padding: 50px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    background-color: rgb(220, 153, 153);
    }
.box1:hover{
    width: 200px;
    padding: 50px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    background-color: rgb(220, 153, 153);
    animation-name: text;
    transition: all 3s;
    animation-iteration-count: 1;
}