button{
    background-color: blue;
    color: white;
}
[zuhriddin]{
    padding: 10px;
    border-radius: 50%;
}
table{
    border-collapse: collapse;
}
th,td{
    border: 1px solid black;
    padding: 5px;
}
div,h1,ul,li{
    text-align: center;
    background-color: blue;
    color: white;
}